$padding: 10px;
$margin: 8px;
$top-space: 6px;
$card-height: calc((95vh - 2 * $padding - $margin - $top-space) / 4.5);
$card-width: calc($card-height * 53 / 80);
$bid-card-height: 10vh;

$primary: white;
$secondary: black;
$background: black;
