$padding: 10px;
$margin: 10px;
$card-height: calc((95vh - 2 * $padding - 2 * $margin) / 4.5);
$card-width: calc($card-height * 53 / 80);
$bid-card-height: 10vh;


$primary: white;
$secondary: black;
$background: black;