
.bidding-box {
    outline: red 1px solid;
}

.bidding {
    background-color: aquamarine;
}


.bid-stack-container {
    
    outline: green dotted 2px ;
    outline-offset: -1px;
}


.bid-stack {

    outline: blue solid 1px ;
    outline-offset: -2px;
    .bid {
        outline: red 1px solid;
    }
}


.hand-north {
    background-color: lightblue;
}

.hand-east {
    background-color: lightgoldenrodyellow;

    
}
.hand-south {
    background-color: lightgreen;
}

.hand-west {
    background-color: lightpink;

}

.bid-stack-north {
    background-color: lightblue;
}

.bid-stack-east {
    background-color: lightgoldenrodyellow;

    
}
.bid-stack-south {
    background-color: lightgreen;
}

.bid-stack-west {
    background-color: lightpink;

}




.trick-view-origin-north div {
    background-color: lightblue;
}
.trick-view-origin-east div {
    background-color: lightgoldenrodyellow;    
}
.trick-view-origin-south div {
    background-color: lightgreen;
}
.trick-view-origin-west div {
    background-color: lightpink;
}
