@use "variables";
@use "bidding";


.center-panel {
  aspect-ratio: 1;
  position: relative;
  grid-row: 2;
  grid-column: 2;

  padding: 10px;
  display: grid;

  transition: all 1s;

  align-self: center;

  &.center-panel-bidding {
    gap: 3px;
    grid-template-columns: variables.$bid-card-height auto variables.$bid-card-height;
    grid-template-rows: variables.$bid-card-height auto variables.$bid-card-height;
  }
  &:not(.center-panel-bidding) {
    padding: 7% 7% 7% 7%;
    grid-template-columns: 0 auto 0;
    grid-template-rows: 0 auto 0;
  }
}
$frame-width: 16%;

.center-frame {
  display: grid;
  grid-row: 2;
  grid-column: 2;

  padding: $frame-width;

  position: relative;

  .frame {
    outline: variables.$primary solid 3px;
    position: absolute;
    top: calc($frame-width/2);
    left: calc($frame-width/2);
    right: calc($frame-width/2);
    bottom: calc($frame-width/2);

    border-radius: 2px;
  }

  .center-frame-label {
    color: white;
    font-size: 2vh;
    font-weight: bold;

    &.focused {
      background-color: yellow;
      color: black;
    }
  }

  .label-nonvul {
    background-color: rgb(77, 117, 77);
  }

  .label-vul {
    background-color: rgb(172, 21, 0);
    text-decoration: underline;
  }
}

.center-frame-label {
  cursor: default;
  position: absolute;
  outline: solid variables.$primary 1px;
  padding: 2px 5px;
  background-color: variables.$background;
  border-radius: 2px;
  width: variables.$card-width;
  text-align: center;
  text-transform: uppercase;
}

#control-center {
  position: absolute;
  bottom: 0;
  right: 0;
}

.control-panel {
  display: flex;
  flex-direction: column;

  .buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  button:disabled {
    color: gray;
    background-color: white;
  }

  .hearts {
    color: red;
  }

  .diamonds {
    color: darkgoldenrod;
  }

  .spades {
    color: blue;
  }

  .clubs {
    color: green;
  }
}

.center-frame-label-north {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-frame-label-east {
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%) rotate(90deg);
  transform-origin: 50% 50%;
}

.center-frame-label-south {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
}

.center-frame-label-west {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
  transform-origin: 50% 50%;
}

.card {
  height: variables.$card-height;
  aspect-ratio: 530/800;
  display: inline-block;
  position: absolute;
  transition: transform ease 1s;
  top: 0;
  left: 0;

  &.playable img,
  &.playable-dummy img {
    transition: ease-in-out 0.2s;
  }

  &.playable:hover:not(.reverse) img {
    transform: translateY(-10%);
  }

  &.playable-dummy:hover:not(.reverse) img {
    transform: translateX(-10%);
  }

  &:not(.reverse) img.front {
    z-index: 1;
    display: initial;
  }

  &.reverse img.back {
    z-index: 1;
    display: initial;
  }

  img {
    z-index: -1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

.center-text {
  position: absolute;

  font-size: 5vh;

  top: 50%;
  right: 0;
  left: 0;

  transform: translateY(-50%);

  text-align: center;
  vertical-align: middle;
}

.claim-input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  width: 100%;

  &[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
  }
}
